node_modules

dist/
!dist/apps
!dist/apps/api
!dist/apps/api/**

documentation
.data
.env
.env.*
docker/.env*
.tmp
.tmp.*
.nx
.git
.gitignore
.idea
.vscode
.husky
.angular
.yarn
*Dockerfile
docker-compose*.yml
