NODE_ENV=production

MAIN_DATABASE_URL=postgresql://root_prod:root_prod@host.docker.internal:5432/main?schema=public

JWT_ACCESS_SECRET=FDGGJHGKMNBWERTEWT
JWT_REFRESH_SECRET=CXVCVSADFREWTJHGFW
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
MAIN_API_PORT=3000
